@media only screen and (max-width: 1423px) {
    #content {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media only screen and (max-width: 1199px) {
    #content #first {
        margin-top: 5rem;
        height: 90vh;
        margin-left: 15rem;
        background: url("../image/2.1_new.png");
        background-repeat: no-repeat;
        background-position-x: 10%;
    }

    #nameWrapper {
        flex: 100%;
    }

    #profile {
        display: none;
    }

    #skill {
        margin-top: -3rem;
    }
}

@media only screen and (max-width: 932px) {
    #content #first {
        margin-left: 0rem;
        background-position-x: 50%;
    }

    .description-e {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 932px) {
    #content #first {
        margin-left: 0rem;
        background-position-x: 50%;
    }

    .description-e {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .topnav a.icon {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 0.3rem;
    }

    #content #first {
        background-position-x: 50%;
        background-size: 100%;
    }
}

@media only screen and (max-width: 683px) {
    .content.row .flex:first-child {
        flex: 100%;
    }

    .content.row .flex:last-child {
        flex: 100%;
    }

    .description-e {
        margin-left: 0rem;
    }

    .content-third {
        margin-right: 0rem;
    }

    .description-e ul li {
        text-align: left;
    }
}
