@font-face {
    font-family: "rogfont";
    src: url(../font/ROGFONTS-REGULAR.woff);
}

body {
    background-color: black;
    color: white;
}

.mainlogo {
    position: absolute;
    left: 0.8%;
    top: 1.8%;
}

.mainlogo img {
    width: auto;
    height: 50px;
}

#topnav {
    text-align: end;
    margin-top: 1.2rem;
}

.topnav a {
    float: none;
    display: inline-block;
    font-family: rogfont;
}

.title {
    font-family: rogfont;
    font-size: 30px;
    text-align: center;
    padding-top: 3rem;
}

.container {
    display: flex !important;
    align-items: center;
    margin-top: 3rem;
    margin-left: 4rem;
    column-gap: 3rem;
}

.subtitle {
    float: left;
    font-family: rogfont;
    font-size: 20px;
    text-align: center;
    width: 18%;
    color: white;
    background: rgba(238, 28, 0, 0.3);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    padding: 2rem;
    border: 1px solid rgb(238, 28, 0);
    margin-right: 3rem;
}

img {
    width: 250px;
}
